# Exploratory Data Analysis

Understanding the dataset to explore how the data is present in the database and if there is a need of creating some aggregated tables that can help with:
- vendor Selection for Profitability
- Product Pricing Optimization

In [2]:
import pandas as pd
import sqlite3

In [3]:
#creating database connection
conn=sqlite3.connect('inventory.db')

In [4]:
#Cheking tables present in the database
tables=pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'",conn)
tables

                   name
0       begin_inventory
1         end_inventory
2             purchases
3       purchase_prices
4                 sales
5        vendor_invoice
6  vendor_sales_summary

In [5]:
for table in tables['name']:   # loop through each table name
    print('-'*50, f'{table}', '-'*50)
    count = pd.read_sql(f"SELECT COUNT(*) AS count FROM {table}", conn)['count'].values[0]
    print('Count of records:', count)
    display(pd.read_sql(f"select * from {table} limit 5",conn))

-------------------------------------------------- begin_inventory --------------------------------------------------
Count of records: 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01 00:00:00.000000
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01 00:00:00.000000
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01 00:00:00.000000
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01 00:00:00.000000
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01 00:00:00.000000

-------------------------------------------------- end_inventory --------------------------------------------------
Count of records: 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31 00:00:00.000000
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31 00:00:00.000000
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31 00:00:00.000000
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31 00:00:00.000000
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31 00:00:00.000000

-------------------------------------------------- purchases --------------------------------------------------
Count of records: 1048575

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21 00:00:00.000000,2024-01-02 00:00:00.000000,2024-01-04 00:00:00.000000,2024-02-16 00:00:00.000000,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22 00:00:00.000000,2024-01-01 00:00:00.000000,2024-01-07 00:00:00.000000,2024-02-21 00:00:00.000000,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22 00:00:00.000000,2024-01-02 00:00:00.000000,2024-01-07 00:00:00.000000,2024-02-21 00:00:00.000000,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22 00:00:00.000000,2024-01-01 00:00:00.000000,2024-01-07 00:00:00.000000,2024-02-21 00:00:00.000000,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24 00:00:00.000000,2024-01-02 00:00:00.000000,2024-01-09 00:00:00.000000,2024-02-16 00:00:00.000000,21.32,5,106.60,1

-------------------------------------------------- purchase_prices --------------------------------------------------
Count of records: 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

-------------------------------------------------- sales --------------------------------------------------
Count of records: 1048575

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01 00:00:00.000000,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02 00:00:00.000000,750,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03 00:00:00.000000,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08 00:00:00.000000,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09 00:00:00.000000,375,1,0.79,12546,JIM BEAM BRANDS COMPANY

-------------------------------------------------- vendor_invoice --------------------------------------------------
Count of records: 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04 00:00:00.000000,8124,2023-12-21 00:00:00.000000,2024-02-16 00:00:00.000000,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07 00:00:00.000000,8137,2023-12-22 00:00:00.000000,2024-02-21 00:00:00.000000,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09 00:00:00.000000,8169,2023-12-24 00:00:00.000000,2024-02-16 00:00:00.000000,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12 00:00:00.000000,8106,2023-12-20 00:00:00.000000,2024-02-05 00:00:00.000000,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07 00:00:00.000000,8170,2023-12-24 00:00:00.000000,2024-02-12 00:00:00.000000,1935,15527.25,429.20,None

-------------------------------------------------- vendor_sales_summary --------------------------------------------------
Count of records: 8512

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalSalesExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,60320,1584606.40,9578.0,344712.22,64889.97,17598.14,68601.68,-1239894.18,-359.689651,0.158786,0.217538
1,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,96073,1553500.41,20226.0,444810.74,43304.31,37163.76,257032.07,-1108689.67,-249.249753,0.210527,0.286328
2,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,62385,1446708.15,9203.0,275162.97,52289.50,16909.12,144929.24,-1171545.18,-425.764114,0.147519,0.190199
3,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,75385,1375022.40,11189.0,288135.11,48202.30,20557.97,123780.22,-1086887.29,-377.214457,0.148425,0.209549
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,58783,1286759.87,11883.0,357759.17,52774.51,21833.58,257032.07,-929000.70,-259.672086,0.202150,0.278031

In [6]:
purchases=pd.read_sql_query("select * from purchases where VendorNumber=4466",conn)
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22 00:00:00.000000,2024-01-01 00:00:00.000000,2024-01-07 00:00:00.000000,2024-02-21 00:00:00.000000,9.35,4,37.40,1
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22 00:00:00.000000,2024-01-02 00:00:00.000000,2024-01-07 00:00:00.000000,2024-02-21 00:00:00.000000,9.41,5,47.05,1
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22 00:00:00.000000,2024-01-01 00:00:00.000000,2024-01-07 00:00:00.000000,2024-02-21 00:00:00.000000,9.35,6,56.10,1
3,38_GOULCREST_5215,38,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27 00:00:00.000000,2024-01-07 00:00:00.000000,2024-01-19 00:00:00.000000,2024-02-26 00:00:00.000000,9.41,6,56.46,1
4,59_CLAETHORPES_5215,59,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27 00:00:00.000000,2024-01-05 00:00:00.000000,2024-01-19 00:00:00.000000,2024-02-26 00:00:00.000000,9.41,6,56.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10777,2024-06-22 00:00:00.000000,2024-06-28 00:00:00.000000,2024-07-09 00:00:00.000000,2024-08-15 00:00:00.000000,9.41,4,37.64,1
861,60_IRRAGIN_5215,60,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10777,2024-06-22 00:00:00.000000,2024-06-30 00:00:00.000000,2024-07-09 00:00:00.000000,2024-08-15 00:00:00.000000,9.41,5,47.05,1
862,60_IRRAGIN_5255,60,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10777,2024-06-22 00:00:00.000000,2024-06-30 00:00:00.000000,2024-07-09 00:00:00.000000,2024-08-15 00:00:00.000000,9.35,2,18.70,1
863,60_IRRAGIN_3140,60,3140,TGI Fridays Orange Dream,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10777,2024-06-22 00:00:00.000000,2024-06-30 00:00:00.000000,2024-07-09 00:00:00.000000,2024-08-15 00:00:00.000000,11.19,6,67.14,1
864,34_PITMERDEN_5255,34,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10777,2024-06-22 00:00:00.000000,2024-06-28 00:00:00.000000,2024-07-09 00:00:00.000000,2024-08-15 00:00:00.000000,9.35,1,9.35,1

In [7]:
purchase_prices=pd.read_sql_query("select * from purchase_prices where VendorNumber=4466",conn)
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [8]:
vendor_invoice=pd.read_sql_query("select * from vendor_invoice where VendorNumber=4466",conn)
vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07 00:00:00.000000,8137,2023-12-22 00:00:00.000000,2024-02-21 00:00:00.000000,15,140.55,8.57,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-19 00:00:00.000000,8207,2023-12-27 00:00:00.000000,2024-02-26 00:00:00.000000,335,3142.33,16.97,None
2,4466,AMERICAN VINTAGE BEVERAGE,2024-01-18 00:00:00.000000,8307,2024-01-03 00:00:00.000000,2024-02-18 00:00:00.000000,41,383.35,1.99,None
3,4466,AMERICAN VINTAGE BEVERAGE,2024-01-27 00:00:00.000000,8469,2024-01-14 00:00:00.000000,2024-03-11 00:00:00.000000,72,673.20,3.30,None
4,4466,AMERICAN VINTAGE BEVERAGE,2024-02-04 00:00:00.000000,8532,2024-01-19 00:00:00.000000,2024-03-15 00:00:00.000000,79,740.21,3.48,None
5,4466,AMERICAN VINTAGE BEVERAGE,2024-02-09 00:00:00.000000,8604,2024-01-24 00:00:00.000000,2024-03-15 00:00:00.000000,347,3261.37,17.61,None
6,4466,AMERICAN VINTAGE BEVERAGE,2024-02-17 00:00:00.000000,8793,2024-02-05 00:00:00.000000,2024-04-02 00:00:00.000000,72,675.36,3.17,None
7,4466,AMERICAN VINTAGE BEVERAGE,2024-03-01 00:00:00.000000,8892,2024-02-12 00:00:00.000000,2024-03-28 00:00:00.000000,117,1096.05,5.15,None
8,4466,AMERICAN VINTAGE BEVERAGE,2024-03-07 00:00:00.000000,8995,2024-02-19 00:00:00.000000,2024-04-02 00:00:00.000000,129,1209.27,5.44,None
9,4466,AMERICAN VINTAGE BEVERAGE,2024-03-12 00:00:00.000000,9033,2024-02-22 00:00:00.000000,2024-04-16 00:00:00.000000,147,1377.87,6.61,None
10,4466,AMERICAN VINTAGE BEVERAGE,2024-03-16 00:00:00.000000,9180,2024-03-03 00:00:00.000000,2024-04-19 00:00:00.000000,211,1979.33,9.50,None
11,4466,AMERICAN VINTAGE BEVERAGE,2024-03-23 00:00:00.000000,9244,2024-03-08 00:00:00.000000,2024-04-21 00:00:00.000000,161,1510.69,6.95,None
12,4466,AMERICAN VINTAGE BEVERAGE,2024-03-31 00:00:00.000000,9371,2024-03-17 00:00:00.000000,2024-05-13 00:00:00.000000,176,1649.20,8.91,None
13,4466,AMERICAN VINTAGE BEVERAGE,2024-04-09 00:00:00.000000,9491,2024-03-24 00:00:00.000000,2024-05-08 00:00:00.000000,215,2016.43,10.08,None
14,4466,AMERICAN VINTAGE BEVERAGE,2024-04-17 00:00:00.000000,9583,2024-03-31 00:00:00.000000,2024-05-12 00:00:00.000000,110,1035.10,5.69,None
15,4466,AMERICAN VINTAGE BEVERAGE,2024-04-20 00:00:00.000000,9639,2024-04-04 00:00:00.000000,2024-06-04 00:00:00.000000,515,5323.01,25.02,None
16,4466,AMERICAN VINTAGE BEVERAGE,2024-04-29 00:00:00.000000,9800,2024-04-15 00:00:00.000000,2024-06-07 00:00:00.000000,275,2775.01,13.60,None
17,4466,AMERICAN VINTAGE BEVERAGE,2024-05-09 00:00:00.000000,9886,2024-04-21 00:00:00.000000,2024-06-12 00:00:00.000000,312,3050.86,13.73,None
18,4466,AMERICAN VINTAGE BEVERAGE,2024-05-14 00:00:00.000000,9999,2024-04-29 00:00:00.000000,2024-06-26 00:00:00.000000,310,3117.82,14.97,None
19,4466,AMERICAN VINTAGE BEVERAGE,2024-05-16 00:00:00.000000,10095,2024-05-06 00:00:00.000000,2024-06-27 00:00:00.000000,215,2123.01,11.46,None
20,4466,AMERICAN VINTAGE BEVERAGE,2024-05-28 00:00:00.000000,10169,2024-05-11 00:00:00.000000,2024-07-04 00:00:00.000000,327,3298.55,15.83,None
21,4466,AMERICAN VINTAGE BEVERAGE,2024-06-04 00:00:00.000000,10257,2024-05-17 00:00:00.000000,2024-07-08 00:00:00.000000,376,3708.18,20.39,None
22,4466,AMERICAN VINTAGE BEVERAGE,2024-06-12 00:00:00.000000,10346,2024-05-23 00:00:00.000000,2024-07-20 00:00:00.000000,640,6458.38,29.71,None
23,4466,AMERICAN VINTAGE BEVERAGE,2024-06-17 00:00:00.000000,10445,2024-05-30 00:00:00.000000,2024-07-19 00:00:00.000000,288,2937.56,15.86,None
24,4466,AMERICAN VINTAGE BEVERAGE,2024-06-22 00:00:00.000000,10600,2024-06-09 00:00:00.000000,2024-08-01 00:00:00.000000,308,3213.28,17.03,None
25,4466,AMERICAN VINTAGE BEVERAGE,2024-06-29 00:00:00.000000,10695,2024-06-16 00:00:00.000000,2024-08-12 00:00:00.000000,143,1585.75,8.09,None
26,4466,AMERICAN VINTAGE BEVERAGE,2024-07-09 00:00:00.000000,10777,2024-06-22 00:00:00.000000,2024-08-15 00:00:00.000000,18,179.88,0.99,None
27,4466,AMERICAN VINTAGE BEVERAGE,2024-07-08 00:00:00.000000,10836,2024-06-25 00:00:00.000000,2024-08-14 00:00:00.000000,8,85.96,0.43,None
28,4466,AMERICAN VINTAGE BEVERAGE,2024-07-11 00:00:00.000000,10969,2024-06-29 00:00:00.000000,2024-08-18 00:00:00.000000,94,993.12,5.06,None
29,4466,AMERICAN VINTAGE BEVERAGE,2024-07-19 00:00:00.000000,11085,2024-07-06 00:00:00.000000,2024-09-04 00:00:00.000000,601,5883.09,31.18,None
30,4466,AMERICAN VINTAGE BEVERAGE,2024-07-26 00:00:00.000000,11187,2024-07-14 00:00:00.000000,2024-08-26 00:00:00.000000,1535,15406.69,77.03,None
31,4466,AMERICAN VINTAGE BEVERAGE,2024-08-03 00:00:00.000000,11244,2024-07-18 00:00:00.000000,2024-09-04 00:00:00.000000,266,2888.22,15.31,None
32,4466,AMERICAN VINTAGE BEVERAGE,2024-08-11 00:00:00.000000,11362,2024-07-26 00:00:00.000000,2024-09-24 00:00:00.000000,206,2171.64,11.08,None
33,4466,AMERICAN VINTAGE BEVERAGE,2024-08-18 00:00:00.000000,11489,2024-08-04 00:00:00.000000,2024-09-16 00:00:00.000000,768,7292.98,37.92,None
34,4466,AMERICAN VINTAGE BEVERAGE,2024-08-24 00:00:00.000000,11540,2024-08-08 00:00:00.000000,2024-10-02 00:00:00.000000,1207,12242.43,64.88,None
35,4466,AMERICAN VINTAGE BEVERAGE,2024-09-02 00:00:00.000000,11716,2024-08-19 00:00:00.000000,2024-09-29 00:00:00.000000,433,4334.43,20.37,None
36,4466,AMERICAN VINTAGE BEVERAGE,2024-09-12 00:00:00.000000,11771,2024-08-23 00:00:00.000000,2024-10-11 00:00:00.000000,370,3640.18,18.20,None
37,4466,AMERICAN VINTAGE BEVERAGE,2024-09-20 00:00:00.000000,11901,2024-09-01 00:00:00.000000,2024-10-30 00:00:00.000000,358,3626.74,16.32,None
38,4466,AMERICAN VINTAGE BEVERAGE,2024-09-25 00:00:00.000000,11993,2024-09-07 00:00:00.000000,2024-10-23 00:00:00.000000,233,2264.85,12.23,None
39,4466,AMERICAN VINTAGE BEVERAGE,2024-10-01 00:00:00.000000,12125,2024-09-16 00:00:00.000000,2024-11-07 00:00:00.000000,284,2813.46,15.47,None
40,4466,AMERICAN VINTAGE BEVERAGE,2024-10-08 00:00:00.000000,12235,2024-09-23 00:00:00.000000,2024-11-20 00:00:00.000000,258,2592.08,11.92,None
41,4466,AMERICAN VINTAGE BEVERAGE,2024-10-09 00:00:00.000000,12253,2024-09-23 00:00:00.000000,2024-11-14 00:00:00.000000,1,11.19,0.05,None
42,4466,AMERICAN VINTAGE BEVERAGE,2024-10-12 00:00:00.000000,12321,2024-09-26 00:00:00.000000,2024-11-19 00:00:00.000000,172,1685.98,7.59,None
43,4466,AMERICAN VINTAGE BEVERAGE,2024-10-20 00:00:00.000000,12466,2024-10-05 00:00:00.000000,2024-11-26 00:00:00.000000,280,2798.60,14.55,None
44,4466,AMERICAN VINTAGE BEVERAGE,2024-10-27 00:00:00.000000,12515,2024-10-09 00:00:00.000000,2024-11-30 00:00:00.000000,178,1763.28,8.64,None
45,4466,AMERICAN VINTAGE BEVERAGE,2024-11-07 00:00:00.000000,12702,2024-10-21 00:00:00.000000,2024-12-11 00:00:00.000000,183,1812.77,8.70,None
46,4466,AMERICAN VINTAGE BEVERAGE,2024-11-12 00:00:00.000000,12752,2024-10-25 00:00:00.000000,2024-12-11 00:00:00.000000,216,2156.16,10.57,None
47,4466,AMERICAN VINTAGE BEVERAGE,2024-11-20 00:00:00.000000,12828,2024-10-30 00:00:00.000000,2024-12-18 00:00:00.000000,262,2597.36,12.99,None
48,4466,AMERICAN VINTAGE BEVERAGE,2024-11-27 00:00:00.000000,12929,2024-11-06 00:00:00.000000,2025-01-04 00:00:00.000000,270,2622.32,12.85,None
49,4466,AMERICAN VINTAGE BEVERAGE,2024-11-28 00:00:00.000000,13092,2024-11-16 00:00:00.000000,2024-12-30 00:00:00.000000,209,2036.17,11.20,None
50,4466,AMERICAN VINTAGE BEVERAGE,2024-12-06 00:00:00.000000,13134,2024-11-20 00:00:00.000000,2025-01-18 00:00:00.000000,305,3018.89,15.70,None
51,4466,AMERICAN VINTAGE BEVERAGE,2024-12-16 00:00:00.000000,13254,2024-11-28 00:00:00.000000,2025-01-13 00:00:00.000000,262,2530.36,11.39,None
52,4466,AMERICAN VINTAGE BEVERAGE,2024-12-26 00:00:00.000000,13432,2024-12-09 00:00:00.000000,2025-01-27 00:00:00.000000,231,2263.43,11.32,None
53,4466,AMERICAN VINTAGE BEVERAGE,2024-12-30 00:00:00.000000,13483,2024-12-13 00:00:00.000000,2025-02-11 00:00:00.000000,221,2178.27,11.33,None
54,4466,AMERICAN VINTAGE BEVERAGE,2025-01-09 00:00:00.000000,13627,2024-12-22 00:00:00.000000,2025-02-05 00:00:00.000000,413,3985.03,19.53,None

In [9]:
sales=pd.read_sql_query("select * from sales where VendorNo=4466",conn)
sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-09 00:00:00.000000,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-12 00:00:00.000000,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-15 00:00:00.000000,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
3,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-21 00:00:00.000000,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
4,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-23 00:00:00.000000,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,15_WANBORNE_5215,15,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-02-23 00:00:00.000000,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
427,15_WANBORNE_5255,15,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-02-03 00:00:00.000000,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
428,15_WANBORNE_5255,15,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-02-23 00:00:00.000000,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
429,15_WANBORNE_5255,15,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-02-24 00:00:00.000000,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
430,15_WANBORNE_5255,15,5255,TGI Fridays Ultimte Mudslide,1.75L,2,25.98,12.99,2024-02-27 00:00:00.000000,1750,1,3.67,4466,AMERICAN VINTAGE BEVERAGE

In [10]:
purchases.groupby(['Brand','PurchasePrice'])[['Quantity','Dollars']].sum()

                     Quantity   Dollars
Brand PurchasePrice
3140  11.19              1552  17366.88
5215  9.41               2267  21332.47
5255  9.35               2135  19962.25

In [11]:
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [12]:
vendor_invoice['PONumber'].nunique()

55

In [13]:
vendor_invoice.shape#they are unique

(55, 10)

In [14]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [15]:
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22 00:00:00.000000,2024-01-01 00:00:00.000000,2024-01-07 00:00:00.000000,2024-02-21 00:00:00.000000,9.35,4,37.40,1
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22 00:00:00.000000,2024-01-02 00:00:00.000000,2024-01-07 00:00:00.000000,2024-02-21 00:00:00.000000,9.41,5,47.05,1
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22 00:00:00.000000,2024-01-01 00:00:00.000000,2024-01-07 00:00:00.000000,2024-02-21 00:00:00.000000,9.35,6,56.10,1
3,38_GOULCREST_5215,38,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27 00:00:00.000000,2024-01-07 00:00:00.000000,2024-01-19 00:00:00.000000,2024-02-26 00:00:00.000000,9.41,6,56.46,1
4,59_CLAETHORPES_5215,59,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27 00:00:00.000000,2024-01-05 00:00:00.000000,2024-01-19 00:00:00.000000,2024-02-26 00:00:00.000000,9.41,6,56.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10777,2024-06-22 00:00:00.000000,2024-06-28 00:00:00.000000,2024-07-09 00:00:00.000000,2024-08-15 00:00:00.000000,9.41,4,37.64,1
861,60_IRRAGIN_5215,60,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10777,2024-06-22 00:00:00.000000,2024-06-30 00:00:00.000000,2024-07-09 00:00:00.000000,2024-08-15 00:00:00.000000,9.41,5,47.05,1
862,60_IRRAGIN_5255,60,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10777,2024-06-22 00:00:00.000000,2024-06-30 00:00:00.000000,2024-07-09 00:00:00.000000,2024-08-15 00:00:00.000000,9.35,2,18.70,1
863,60_IRRAGIN_3140,60,3140,TGI Fridays Orange Dream,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10777,2024-06-22 00:00:00.000000,2024-06-30 00:00:00.000000,2024-07-09 00:00:00.000000,2024-08-15 00:00:00.000000,11.19,6,67.14,1
864,34_PITMERDEN_5255,34,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10777,2024-06-22 00:00:00.000000,2024-06-28 00:00:00.000000,2024-07-09 00:00:00.000000,2024-08-15 00:00:00.000000,9.35,1,9.35,1

In [43]:
sales.groupby('Brand')[['SalesDollars','SalesPrice','SalesQuantity']].sum()

       SalesDollars  SalesPrice  SalesQuantity
Brand
5215        3897.00     2416.14            300
5255        4273.71     3182.55            329

- The purchases table contains actual purchase data, including the date of purchase, products (brands) purchased by vendors, the amount paid (in dollars), and the quantity purchased.

- The purchase price column is derived from the purchase_prices table, which provides product-wise actual and purchase prices. The combination of vendor and brand is unique in this table.

- The vendor_invoice table aggregates data from the purchases table, summarizing quantity and dollar amounts, along with an additional column for freight. This table maintains uniqueness based on vendor and PO number.

- The sales table captures actual sales transactions, detailing the brands purchased by vendors, the quantity sold, the selling price, and the revenue earned.

As the data that we need for analysis is distributed in different tables, we need to create a summary table containing:

- purchase transactions made by vendors

- sales transaction data

- freight costs for each vendor

- actual product prices from vendors

In [17]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [18]:
Freight_summary=pd.read_sql_query("select VendorNumber, SUM(Freight) as freightCost From vendor_invoice Group BY VendorNumber", conn)

In [19]:
Freight_summary

     VendorNumber  freightCost
0               2        27.08
1              54         0.48
2              60       367.52
3             105        62.39
4             200         6.19
..            ...          ...
121         98450       856.02
122         99166       130.09
123        172662       178.34
124        173357       202.50
125        201359         0.09

[126 rows x 2 columns]

In [20]:
purchase_prices.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [21]:
pd.read_sql_query('''SELECT
    p.VendorNumber,
    p.VendorName,
    p.Brand,
    p.PurchasePrice,
    pp.Volume,
    pp.Price as ActualPrice,
    SUM(p.Quantity) as TotalPurchaseQuantity,
    SUM(p.Dollars) as TotalPurchaseDollars
FROM purchases p
JOIN purchase_prices pp 
ON p.Brand = pp.Brand
Where p.purchasePrice>0
GROUP BY p.VendorNumber, p.VendorName, p.Brand
ORDER BY TotalPurchaseDollars''', conn)

,VendorNumber,VendorName,Brand,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars
0,7245,PROXIMO SPIRITS INC.,3065,0.71,50,0.99,1,0.71
1,3960,DIAGEO NORTH AMERICA INC,3775,0.73,50,0.99,1,0.73
2,9815,WINE GROUP INC,22407,2.25,750,3.29,1,2.25
3,8004,SAZERAC CO INC,5683,0.39,50,0.49,6,2.34
4,9815,WINE GROUP INC,8527,1.32,750,4.99,2,2.64
...,...,...,...,...,...,...,...,...
8507,3960,DIAGEO NORTH AMERICA INC,3545,21.89,1750,29.99,58783,1286759.87
8508,17035,PERNOD RICARD USA,8068,18.24,1750,24.99,75385,1375022.40
8509,4425,MARTIGNETTI COMPANIES,3405,23.19,1750,28.99,62385,1446708.15
8510,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750,22.99,96073,1553500.41
8511,1128,BROWN-FORMAN CORP,1233,26.27,1750,36.99,60320,1584606.40

In [22]:
sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [23]:
pd.read_sql_query('''SELECT 
    VendorNo,
    Brand,
    SUM(SalesDollars) AS TotalSalesDollars,
    SUM(SalesPrice) AS TotalSalesPrice,
    SUM(SalesQuantity) AS TotalSalesQuantity,
    SUM(ExciseTax) AS TotalSalesExciseTax
FROM sales
GROUP BY VendorNo, Brand
ORDER BY TotalSalesDollars''', conn)

,VendorNo,Brand,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalSalesExciseTax
0,8004,5287,0.98,0.98,2,0.10
1,3960,3303,0.99,0.99,1,0.05
2,9206,2773,0.99,0.99,1,0.05
3,9625,8872,0.99,0.99,1,0.05
4,3252,3933,1.98,0.99,2,0.10
...,...,...,...,...,...,...
7653,4425,3405,275162.97,52289.50,9203,16909.12
7654,17035,8068,288135.11,48202.30,11189,20557.97
7655,1128,1233,344712.22,64889.97,9578,17598.14
7656,3960,3545,357759.17,52774.51,11883,21833.58
7657,3960,4261,444810.74,43304.31,20226,37163.76

In [24]:
import time
start = time.time()

final_table = pd.read_sql_query("""
SELECT
    pp.VendorNumber,
    pp.Brand,
    pp.Price,
    pp.PurchasePrice,
    s.Volume,
    SUM(s.SalesQuantity) AS TotalSalesQuantity,
    SUM(s.SalesDollars) AS TotalSalesDollars,
    SUM(s.SalesPrice) AS TotalSalesPrice,
    SUM(s.ExciseTax) AS TotalExciseTax,
    SUM(vi.Quantity) AS TotalPurchaseQuantity,
    SUM(vi.Dollars) AS TotalPurchaseDollars,
    SUM(vi.Freight) AS TotalFreightCost
FROM purchase_prices pp
JOIN sales s
    ON pp.VendorNumber = s.VendorNo
    AND pp.Brand = s.Brand
JOIN vendor_invoice vi
    ON pp.VendorNumber = vi.VendorNumber
GROUP BY
    pp.VendorNumber,
    pp.Brand,
    pp.Price,
    pp.PurchasePrice,
    s.Volume
""", conn)

end = time.time()
print("Query executed in:", end - start, "seconds")

Query executed in: 209.11366319656372 seconds

## -----------------------------------------QUERY OPTIMIZATION----------------------------------------

In [25]:
vendor_sales_summary = pd.read_sql_query("""
WITH FreightSummary AS (
    SELECT
        VendorNumber,
        SUM(Freight) AS FreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
),

PurchaseSummary AS (
    SELECT
        p.VendorNumber,
        p.VendorName,
        p.Brand,
        p.Description,
        p.PurchasePrice,
        pp.Price AS ActualPrice,
        pp.Volume,  
        SUM(p.Quantity) AS TotalPurchaseQuantity,
        SUM(p.Dollars) AS TotalPurchaseDollars
    FROM purchases p
    JOIN purchase_prices pp
        ON p.Brand = pp.Brand
    WHERE p.PurchasePrice > 0
    GROUP BY 
        p.VendorNumber, 
        p.VendorName, 
        p.Brand, 
        p.Description, 
        p.PurchasePrice, 
        pp.Price, 
        pp.Volume  
),

SalesSummary AS (
    SELECT
        VendorNo,
        Brand,
        SUM(SalesQuantity) AS TotalSalesQuantity,
        SUM(SalesDollars) AS TotalSalesDollars,
        SUM(SalesPrice) AS TotalSalesPrice,
        SUM(ExciseTax) AS TotalSalesExciseTax
    FROM sales
    GROUP BY VendorNo, Brand
)

SELECT
    ps.VendorNumber,
    ps.VendorName,
    ps.Brand,
    ps.Description,
    ps.PurchasePrice,
    ps.ActualPrice,
    ps.Volume,  
    ps.TotalPurchaseQuantity,
    ps.TotalPurchaseDollars,
    ss.TotalSalesQuantity,
    ss.TotalSalesDollars,
    ss.TotalSalesPrice,
    ss.TotalSalesExciseTax,
    fs.FreightCost
FROM PurchaseSummary ps
LEFT JOIN SalesSummary ss
    ON ps.VendorNumber = ss.VendorNo
    AND ps.Brand = ss.Brand
LEFT JOIN FreightSummary fs
    ON ps.VendorNumber = fs.VendorNumber
ORDER BY ps.TotalPurchaseDollars DESC
""", conn)

In [26]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalSalesExciseTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,60320,1584606.40,9578.0,344712.22,64889.97,17598.14,68601.68
1,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,96073,1553500.41,20226.0,444810.74,43304.31,37163.76,257032.07
2,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,62385,1446708.15,9203.0,275162.97,52289.50,16909.12,144929.24
3,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750,75385,1375022.40,11189.0,288135.11,48202.30,20557.97,123780.22
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750,58783,1286759.87,11883.0,357759.17,52774.51,21833.58,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8507,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750,2,2.64,3.0,5.97,5.97,0.33,27100.41
8508,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50,6,2.34,128.0,62.72,0.98,6.72,50293.62
8509,9815,WINE GROUP INC,22407,Three Wishes Chard,2.25,3.29,750,1,2.25,1.0,3.29,3.29,0.11,27100.41
8510,3960,DIAGEO NORTH AMERICA INC,3775,Smirnoff Sorbet Pine/Coconut,0.73,0.99,50,1,0.73,NaN,NaN,NaN,NaN,257032.07
8511,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50,1,0.71,81.0,80.19,29.70,4.21,38994.78

## This query generates a vendor-wise sales and purchase summary, which is valuable for:

### Performance Optimization:

 The query involves heavy joins and aggregations on large datasets like sales and purchases.

 Storing the pre-aggregated results avoids repeated expensive computations.

 Helps in analyzing sales, purchases, and pricing for different vendors and brands.

 Future Benefits of Storing this data for faster Dashboarding & Reporting.

 Instead of running expensive queries each time, dashboards can fetch data quickly from vendor_sales_summary.

In [27]:
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
PurchasePrice            float64
ActualPrice              float64
Volume                    object
TotalPurchaseQuantity      int64
TotalPurchaseDollars     float64
TotalSalesQuantity       float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalSalesExciseTax      float64
FreightCost              float64
dtype: object

In [28]:
vendor_sales_summary.isnull().sum()

VendorNumber                0
VendorName                  0
Brand                       0
Description                 0
PurchasePrice               0
ActualPrice                 0
Volume                      0
TotalPurchaseQuantity       0
TotalPurchaseDollars        0
TotalSalesQuantity       1633
TotalSalesDollars        1633
TotalSalesPrice          1633
TotalSalesExciseTax      1633
FreightCost                 0
dtype: int64

In [29]:
vendor_sales_summary.head()

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalSalesExciseTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,60320,1584606.40,9578.0,344712.22,64889.97,17598.14,68601.68
1,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,96073,1553500.41,20226.0,444810.74,43304.31,37163.76,257032.07
2,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,62385,1446708.15,9203.0,275162.97,52289.50,16909.12,144929.24
3,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750,75385,1375022.40,11189.0,288135.11,48202.30,20557.97,123780.22
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750,58783,1286759.87,11883.0,357759.17,52774.51,21833.58,257032.07

In [30]:
vendor_sales_summary['VendorName'].unique()
#here the blank space is inconsistancy

array(['BROWN-FORMAN CORP          ', 'DIAGEO NORTH AMERICA INC   ',
       'MARTIGNETTI COMPANIES', 'PERNOD RICARD USA          ',
       'BACARDI USA INC            ', 'JIM BEAM BRANDS COMPANY    ',
       'ULTRA BEVERAGE COMPANY LLP ', 'PROXIMO SPIRITS INC.       ',
       'MAJESTIC FINE WINES        ', 'STOLI GROUP,(USA) LLC      ',
       'CAMPARI AMERICA            ', 'SAZERAC CO INC             ',
       'MOET HENNESSY USA INC      ', 'M S WALKER INC             ',
       'CONSTELLATION BRANDS INC   ', 'SAZERAC NORTH AMERICA INC. ',
       'REMY COINTREAU USA INC     ', 'SIDNEY FRANK IMPORTING CO  ',
       'WILLIAM GRANT & SONS INC   ', 'PALM BAY INTERNATIONAL INC ',
       'E & J GALLO WINERY         ', 'HEAVEN HILL DISTILLERIES   ',
       'CASTLE BRANDS CORP.        ', 'SOUTHERN WINE & SPIRITS NE ',
       'DISARONNO INTERNATIONAL LLC', 'EDRINGTON AMERICAS         ',
       'TRINCHERO FAMILY ESTATES   ', 'STE MICHELLE WINE ESTATES  ',
       'WINE GROUP INC             ', 'PERFECTA WINES             ',
       'LUXCO INC                  ', 'SHAW ROSS INT L IMP LTD    ',
       'TREASURY WINE ESTATES      ', 'MHW LTD                    ',
       'PHILLIPS PRODUCTS CO.      ', 'KOBRAND CORPORATION        ',
       'BANFI PRODUCTS CORP        ', 'STATE WINE & SPIRITS   ',
       'DIAGEO CHATEAU ESTATE WINES', 'CALEDONIA SPIRITS INC      ',
       'PINE STATE TRADING CO      ', 'VINEYARD BRANDS INC        ',
       'FABRIZIA SPIRITS LLC       ', 'LATITUDE BEVERAGE COMPANY  ',
       'DELICATO VINEYARDS INC     ', 'OLE SMOKY DISTILLERY LLC   ',
       'Serralles Usa LLC          ', 'DUGGANS DISTILLED PRODUCTS ',
       'KLIN SPIRITS LLC           ', 'LAIRD & CO                 ',
       'SEA HAGG DISTILLERY LLC    ', 'Dunn Wine Brokers          ',
       'WESTERN SPIRITS BEVERAGE CO', 'CHARLES JACQUIN ET CIE INC ',
       'FLAG HILL WINERY & VINEYARD', 'FREDERICK WILDMAN & SONS   ',
       'MCCORMICK DISTILLING CO    ', 'MARSALLE COMPANY           ',
       'MANGO BOTTLING INC         ', 'SWEET BABY VINEYARD        ',
       'AMERICAN VINTAGE BEVERAGE  ', 'LABELLE VYDS AND WINERY    ',
       'VRANKEN AMERICA            ', 'PREMIUM PORT WINES, INC.   ',
       'ATLANTIC IMPORTING COMPANY ', 'PREMIER DISTRIBUTORS       ',
       'Russian Standard Vodka     ', 'NICHE W & S                ',
       'WEIN BAUER INC             ', 'BULLY BOY DISTILLERS       ',
       'VINILANDIA USA             ', 'TAKARA SAKE USA INC        ',
       'PSP WINES ', 'ADAMBA IMPORTS INTL INC    ',
       'TY KU LLC                  ', 'MARTIGNETTI COMPANIES ',
       'ZORVINO VINEYARDS          ', 'SMOKY QUARTZ DISTILLERY LLC',
       'CRUSH WINES                ', 'TAMWORTH DISTILLING        ',
       'MOONLIGHT MEADERY          ', 'ALISA CARR BEVERAGES           ',
       'POVERTY LANE ORCHARDS      ', 'SEA BREEZE CELLARS LLC     ',
       'VINEXTRA INC               ', 'SWEETWATER FARM         ',
       'FORTUNE WINE BROKERS LLC   ', 'DJINN SPIRITS LLC          ',
       'JEWELL TOWNE VINEYARDS     ',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'Circa Wines                ', 'HOOD RIVER DISTILLERS, Inc.',
       'INCREDIBREW INC            ', 'ALTAMAR BRANDS LLC         ',
       'CANDIA VINEYARDS           ', 'SURVILLE ENTERPRISES CORP  ',
       'TALL SHIP DISTILLERY LLC   ', 'BLACK PRINCE DISTILLERY INC',
       'STELLAR IMPORTING CO LLC   ', 'VINEDREA WINES LLC         ',
       'FULCHINO VINEYARD INC      ', 'STAR INDUSTRIES INC.       ',
       'WALPOLE MTN VIEW WINERY    ', 'HAUNTING WHISPER VYDS      ',
       'R.P.IMPORTS INC            ', 'THE PIERPONT GROUP LLC     ',
       'THE IMPORTED GRAPE LLC     ', 'BLACK ROCK SPIRITS LLC     ',
       'CENTEUR IMPORTS LLC        ', 'BRONCO WINE COMPANY        ',
       'PARK STREET IMPORTS LLC    ', 'APPOLO VINEYARDS LLC       ',
       'HIGHLAND WINE MERCHANTS LLC', 'MILTONS DISTRIBUTING CO    ',
       'SILVER MOUNTAIN CIDERS     ', 'FANTASY FINE WINES CORP    ',
       'CAPSTONE INTERNATIONAL     ', 'UNCORKED       '], dtype=object)

In [31]:
vendor_sales_summary['Description'].unique() 
#Here we do not have any blank space so this one is fine.

array(['Jack Daniels No 7 Black', 'Capt Morgan Spiced Rum',
       "Tito's Handmade Vodka", ..., 'Smirnoff Light Strawberry',
       'Concannon Glen Ellen Wh Zin', 'Three Wishes Chard'], dtype=object)

In [32]:
vendor_sales_summary['Volume']=vendor_sales_summary['Volume'].astype('float64')

In [33]:
vendor_sales_summary.fillna(0, inplace=True)

In [34]:
vendor_sales_summary['VendorName']=vendor_sales_summary['VendorName'].str.strip()

In [35]:
vendor_sales_summary['GrossProfit']=vendor_sales_summary['TotalSalesDollars']-vendor_sales_summary['TotalPurchaseDollars']

In [36]:
vendor_sales_summary['ProfitMargin']=(vendor_sales_summary['GrossProfit']/vendor_sales_summary['TotalSalesDollars'])*100

In [37]:
vendor_sales_summary['StockTurnover']=vendor_sales_summary['TotalSalesQuantity']/vendor_sales_summary['TotalPurchaseQuantity']

In [38]:
vendor_sales_summary['SalestoPurchaseRatio']=vendor_sales_summary['TotalSalesDollars']/vendor_sales_summary['TotalPurchaseDollars']

In [39]:
vendor_sales_summary.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Description', 'PurchasePrice',
       'ActualPrice', 'Volume', 'TotalPurchaseQuantity',
       'TotalPurchaseDollars', 'TotalSalesQuantity', 'TotalSalesDollars',
       'TotalSalesPrice', 'TotalSalesExciseTax', 'FreightCost', 'GrossProfit',
       'ProfitMargin', 'StockTurnover', 'SalestoPurchaseRatio'],
      dtype='object')

In [40]:
cursor=conn.cursor()

In [47]:
cursor.execute("DROP TABLE IF EXISTS vendor_sales_summary;")

cursor.execute("""
    CREATE TABLE vendor_sales_summary (
        VendorNumber INT,
        VendorName VARCHAR(100),
        Brand INT,
        Description VARCHAR(100),
        PurchasePrice DECIMAL(10,2),
        ActualPrice DECIMAL(10,2),
        Volume ,
        TotalPurchaseQuantity INT,
        TotalPurchaseDollars DECIMAL(15,2),
        TotalSalesQuantity INT,
        TotalSalesDollars DECIMAL(15,2),
        TotalSalesPrice DECIMAL(15,2),
        TotalExciseTax DECIMAL(15,2),
        FreightCost DECIMAL(15,2),
        GrossProfit DECIMAL(15,2),
        ProfitMargin DECIMAL(15,2),
        StockTurnover DECIMAL(15,2),
        SalesToPurchaseRatio DECIMAL(15,2),
        PRIMARY KEY (VendorNumber, Brand)
    );
""")

In [48]:
vendor_sales_summary.to_sql('vendor_sales_summary', conn, if_exists='replace', index=False)

8512

In [49]:
pd.read_sql_query('SELECT * from vendor_sales_summary', conn)

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalSalesExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalestoPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,60320,1584606.40,9578.0,344712.22,64889.97,17598.14,68601.68,-1239894.18,-359.689651,0.158786,0.217538
1,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,96073,1553500.41,20226.0,444810.74,43304.31,37163.76,257032.07,-1108689.67,-249.249753,0.210527,0.286328
2,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,62385,1446708.15,9203.0,275162.97,52289.50,16909.12,144929.24,-1171545.18,-425.764114,0.147519,0.190199
3,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,75385,1375022.40,11189.0,288135.11,48202.30,20557.97,123780.22,-1086887.29,-377.214457,0.148425,0.209549
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,58783,1286759.87,11883.0,357759.17,52774.51,21833.58,257032.07,-929000.70,-259.672086,0.202150,0.278031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8507,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750.0,2,2.64,3.0,5.97,5.97,0.33,27100.41,3.33,55.778894,1.500000,2.261364
8508,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6,2.34,128.0,62.72,0.98,6.72,50293.62,60.38,96.269133,21.333333,26.803419
8509,9815,WINE GROUP INC,22407,Three Wishes Chard,2.25,3.29,750.0,1,2.25,1.0,3.29,3.29,0.11,27100.41,1.04,31.610942,1.000000,1.462222
8510,3960,DIAGEO NORTH AMERICA INC,3775,Smirnoff Sorbet Pine/Coconut,0.73,0.99,50.0,1,0.73,0.0,0.00,0.00,0.00,257032.07,-0.73,-inf,0.000000,0.000000
8511,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1,0.71,81.0,80.19,29.70,4.21,38994.78,79.48,99.114603,81.000000,112.943662